.container-flex{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

@media (max-width:739px){
    .container-flex{
        flex-direction: column;
        max-width: 300px;
    }
}

/* Menu */

.menu-flex {
    background: #252525;
    
    padding: 15px 0;
}

.linki {
	text-decoration: none;
	color: #fff;
    font-size: 1.125em;
    padding: 10px;
}

.menu-logo-flex {
 margin: 0 10px;
}

.menu-nav-flex{
    align-self: center;
    flex: 1;
    margin: 0 10px;
}

.menu-nav-flex ul {
    float: right;
    list-style: none;
    display: flex;
}


@media (max-width:739px){
    .menu-nav-flex {
        margin: 0px;
    }

    .menu-logo-flex{
        margin: 0px;

    }
    .linki{
        padding-left: 0px;
    }

}



/* Intro */

.intro-flex {
	background: url('../../assets/bg-intro.jpg') no-repeat center center;
	background-size: cover;
    color: #fff;
    padding: 150px 0;
    text-align: center;
}

@media (max-width:739px){
        .intro-flex{
            padding: 60px 0 ;
        }
}


.intro-flex h1 {
	text-transform: uppercase;
	font-size: 3em;
}

.intro-flex h1::after {
	content: '';
	display: block;
	width: 20px;
	height: 4px;
    background: #fff;
    margin: 10px auto;
}

.intro-flex p {
	font-style: italic;
	font-size: 1.125em;
}

/* Sobre */
.sobre-flex{
    padding: 60px 0;
}


.sobre-flex h2 {
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 60px;
}
.sobre-item-flex{
    flex: 1;
    margin: 0 10px
}

.sobre-item-flex img{
    display: block;
    max-width: 100%;
}

.sobre-item-flex h3 {
	font-size: 2.25em;
	line-height: 1em;
	background: #252525;
	color: #fff;
	font-style: italic;
	font-weight: normal;
	text-align: center;
    position: relative;
    width: 220px;
    padding: 5px 0 10px 0;
    top: -25px;
}

.sobre-flex > p {
	font-size: 1.125em;
	line-height: 1.4em;
    font-style: italic;
    margin: 20px auto;
    max-width: 460px;
}

/* Produtos */

.produtos-flex {
	background: #e7e4d8;
	border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
    padding: 60px 0;
}

.produtos-item-flex{
    flex: 1;
    margin: 0 10px 40px 10px;

}

.produtos-item-flex h2 {
    font-size: 2.25em;
    text-align: center;
    margin-bottom:20px;

}

.produtos-item-flex h2::before {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	background: currentColor;
	border-radius: 50%;
	border: 5px solid #e7e4d8;
    box-shadow: 0 0 0 5px currentColor;
    margin: 20px auto;
}

h2.produtos-paulista-flex::before {
	color: #492901;
}

h2.produtos-carioca-flex::before {
	color: #c17139;
}

h2.produtos-mineiro-flex::before {
	color: #d7a54d;
}

.produtos-item-flex p {
	font-size: 0.875em;
	line-height: 1.4em;
}

.produtos-btn-flex {
	border: 3px solid #252525;
	color: #252525;
	text-decoration: none;
	text-align: center;
	font-size: 1.125em;
	font-weight: bold;
    text-transform: uppercase;
    display: block;
    width: 180px;
    padding: 15px 0;
    margin: 20px auto 0 auto;
}

/* Locais */
.locais-flex{
    padding:40px 0;
}

.locais-item-flex{
    margin-bottom:40px ;
}

.locais-img-flex, .locais-info-flex{
    flex: 1;
    margin: 0 10px;
}
.locais-img-flex img{
    display: block;
    max-width: 100%;
}

.locais-item-flex h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
}

.locais-item-flex p {
	font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px;
}

.locais-btn-flex {
	font-size: 1.125em;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid;
    color: #252525;
    padding: 10px 20px;
}

/* Assine */

.assine-flex {
    background: #e7e4d8;
    padding: 30px 0;
}

.assine-info-flex{
    flex: 1;
    margin: 0 10px;
}

@media (max-width:739px){
    .assine-info-flex{
        margin: 0 0 40px 0 ;
    }
    .assine-flex form{
        margin: 0px;
    }
}




.assine-info-flex h2 {
	font-size: 2.25em;
}

.assine-info-flex p {
	font-size: 1.5em;
	font-style: italic;
}

.assine-flex form{
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.assine-flex form label {
	display: none;
}

.assine-flex input {
    flex: 1;
    align-self: start;
    padding: 10px;
	border: 3px solid #252525;
	background: none;
	font-size: 1.5em;
	font-style: italic;
	font-family: Georgia, serif;
}

.assine-flex button {
    flex: 1;
    align-self: start;
    padding: 13px;
	background: #252525;
	border: none;
	font-family: Georgia, serif;
	text-transform: uppercase;
	font-size: 1.5em;
	color: #fff;
	cursor: pointer;
}

/*Footer*/

.footer-flex {
    background: #d6d3c8;
    padding: 40px 0;
}

.footer-flex p {
	font-size: 1.125em;
    line-height: 1.4em;
    margin:0 10px;
    flex: 1;
}

.footer-img-flex{
    margin:0 10px;
}


@media (max-width:739px){
    .footer-img-flex, .footer-flex p{
        margin: 10px 0px;
    }
}
