body,h1,h2,h3,p,ul{
    margin: 0px;
    padding: 0px ;

}
  body{
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #252525;
  }


  img{
      max-width: 100%;
      display: block;
  }